@media (max-width: $mobile-width-only) {
  .site-list {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 3;
  }
}

.site-list a {
  display: block;
  padding: 22px 20px;
  padding-bottom: 24px;
  font-family: $fontFamilyOswaldMedium;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $colorBlack;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $colorWhite;
  border-top: 1px solid rgba(230, 230, 230, 1);
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
    width: 520px;
  }

  .site-list__item {
    margin-right: 36px;
    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: auto;
        right: 0;
        bottom: 10px;
        left: 0;
        height: 3px;
        background-color: $basic_green;
      }
    }
  }

  .site-list__item a[href] {
    &:hover {
      color: rgba($color: $colorBlack, $alpha: 0.7);
    }

    &:active {
      color: rgba($color: $colorBlack, $alpha: 0.5);
    }
  }

  .site-list a {
    font-family: $fontFamilyOswaldRegular;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 22px 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 1007px;
  }

  .site-list__item {

    &--active {
      

      &::after {
        background-color: $basic_green;
      }
    }
  }

  .site-list a {
    color: $colorWhite;
    background-color: transparent;
  }

  .site-list__nav a{
    color: $colorBlack;
  }
}
